.button {
    margin: 0 auto;
    font-size: 14px;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 59px;
    border-radius: 30px; /* Rounded borders */
    border: 2px solid #15104D; /* Border color for both buttons */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Change cursor to pointer on hover */
    color: 15104D;
    background: white;
  }