.loginContainer {
    width: 397px;
    height: 785px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: #FFFFFF;
    border: 2px solid #000000;
    font-family: 'Comic Sans MS';
  }
  
  .loginContainer h1 {
    text-align: center;
  }
  
  .loginContainer label {
    display: block;
  }
  
  .loginContainer input {
    display: block;
    width: 100%;
  }
  
  .loginContainer button {
    display: block;
    margin-top: 10px;
  }
  
  .loginContainer div:last-child {
    text-align: center;
    margin-top: 20px;
  }
  