.container {
    display: flex;
    flex-direction: column;
    background-color: #E1E0F1;
    height: 100vh;
    font-family: 'inter';
}

.innerContainer {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 5%;
    margin-top: 15px;
}
