.container {
    display: flex;
    flex-direction: column;
    background-color: #E1E0F1;
    height: 100vh;
    padding-top: 53px;
    font-family: 'inter';
}

.helloContainer {
    width: 95%;
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
}
