
.container {
    background-color: #F2F1FA;
    padding: 20px;
    border-radius: 5px;
    margin: 24px;
    margin-top: 0;
  }
  
  .title {
    font-size: 16px;
    color: #101828;
    margin-bottom: 10px;
  }
  
  .sessionDetails {
    display: flex;
    justify-content: space-between;
  }
  
  .sessionItem {
    flex-basis: 30%;
    text-align: center;
  }
  
  .smallTitle {
      display: flex;
    font-size: 14px;
    color: #667085;
    margin-bottom: 5px;
  }
  
  .value {
      display: flex;
    font-size: 16px;
    color: #101828;
  }