.barContainerHeader {
  
width: 310px;
height: 24px;
margin-left: 20px;

/* Text md/Medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/900 */

color: #101828;


/* Inside auto layout */

}

.barContainerSubHeader {
    /* Text */


width: 310px;
height: 20px;
margin-left: 20px;

/* Text sm/Medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/500 */

color: #667085;


/* Inside auto layout */

}